<!doctype html>
<html ng-app="market">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
        <title>Market information</title>
    </head>
    <body ng-controller="SearchController">
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SPP Market Data</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Load</a></li>
                <li class="active"><a href="search.html">Search</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        
            <div class="row" style="margin: 20px">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Filter</div>
                        <div class="panel-body">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="dateFromInput">From</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFromInput" is-open="openedFrom" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="dateToInput">To</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateToInput" is-open="openedTo" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="locationInput">Location</label>
                                <select class="form-control" ng-init="locationInput = locations[0]" ng-model="locationInput" ng-options="location for location in locations"></select>
                              </div>
                              <button class="btn btn-default" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 20px">
                <div class="col-xs-5">
                    <div class="panel panel-primary">
                      <!-- Default panel contents -->
                      <div class="panel-heading">
                          Data
                      </div>
                      <div class="panel-body">
                          <span class="pull-right">
                              <button class="btn btn-primary btn-sm" type="button" ng-csv="exportData()" filename="market_export.csv"> <i class="glyphicon glyphicon-download-alt"></i> Excel ({{totalItems}} rows) </button>
                          </span>
                      </div>
                        
                      <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>LMP</th>
                                <th>MLC</th>
                                <th>MCC</th>
                                <th>MEC</th>
                                <th><i ng-if="showSearching" class="fa fa-refresh fa-spin text-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in pageDataList">                                
                                <td>{{toUTCDate(data.Interval) | date:'MM-dd-yyyy HH:mm'}}</td>
                                <td>{{data.Settlement_Location}}</td>
                                <td>{{data.LMP}}</td>
                                <td>{{data.MLC}}</td>
                                <td>{{data.MCC}}</td>
                                <td>{{data.MEC}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                      </table>
                      <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            Graph
                        </div>
                        <div class="panel-body">
                            <span class="pull-left">
                                <ul class="list-inline">
                                    <li><b>Averages</b></li>
                                    <li>LMP <span class="badge">{{averageLMP}}</span></li>
                                    <li>MLC <span class="badge">{{averageMLC}}</span></li>
                                    <li>MCC <span class="badge">{{averageMCC}}</span></li>
                                    <li>MEC <span class="badge">{{averageMEC}}</span></li>
                                </ul>
                            </span>
                            <span class="pull-right">
                                <div class="btn-group" dropdown>
                                  <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                                    {{graphSelectedSeries}} <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="filterSeries('ALL')">ALL</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="filterSeries('LMP')">LMP</a></li>
                                    <li><a ng-click="filterSeries('MLC')">MLC</a></li>
                                    <li><a ng-click="filterSeries('MCC')">MCC</a></li>
                                    <li><a ng-click="filterSeries('MEC')">MEC</a></li>
                                  </ul>
                                </div>
                            </span>

                            <canvas id="line" class="chart chart-line" data="graphData" options="graphOptions" 
                              labels="labels" legend="true" series="series" height="300px" labelsFilter="labelsFilter" 
                              click="onClick">
                            </canvas> 
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>
        <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="controllers/controller.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.js"></script>
        <script src="ng-csv.min.js"></script>
    </body>
</html>